<div id="home-page">
    <div class="content">
        <div class="image-container">
            <%= image_tag("favsymbol.png", alt: "CanPulse Logo") %>
        </div>
        <div class="description-container">
            <h2>Welcome to CanPulse</h2>
            <p>
                CanPulse is a cutting-edge personal health portal designed to optimize patient-doctor interactions and management in small hospital settings or family doctor practices. This platform provides a seamless experience for both patients and doctors.
            </p>
            <p>
                Doctors can access daily patient details, create a diagnosis form, manage chronic disease data, and much more. Patients can view their medical data, schedule appointments, and get detailed information about their medications.
            </p>
            <p>
                At CanPulse, we believe in making healthcare accessible and efficient. Our mission is to leverage technology to provide a user-friendly, powerful platform that caters to the medical needs of patients while aiding doctors in providing top-notch healthcare services.
            </p>
        </div>
    </div>
</div>
