.navbar {
  background-color: #CB2525;

  .navbar-brand {
    color: #fff;
    font-size: 2em;
  }

  .navbar-nav {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Added style for patient-links div and its elements
  .patient-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em; // Adjust this as necessary to create space between these links and the User dropdown
    
    .patient-link {
      color: #fff;
      text-decoration: none;

      &:visited {
        color: #fff;
      }
    }
  }

  .nav-item.dropdown {
    list-style-type: none;
    margin-right: 1em;
    display: inline-block;

    .dropdown-toggle {
      color: #fff;
      text-decoration: none;

      &:visited {
        color: #fff;
      }
    }

    .dropdown-menu {
      background-color: #fff;
      border: 1px solid black;

      .dropdown-item {
        color: black;
        list-style-type: none;
        border-bottom: 1px solid black;

        &:hover {
          background-color: rgb(134, 134, 134)737;
        }

        &:visited {
          color: black;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  ul {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  &:hover ul {
    display: block;
  }
}

.main-content {
  margin-top: 2em; // adjust this as necessary
}
