// Place all the styles related to the Diagnoses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table.diagnosis-table .not-chronic {
  background-color: #f2dede; /* a light red background */
  color: #a94442; /* a dark red text */
}
