// Place all the styles related to the Medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.expired-medication {
  background-color: #f2dede; /* a light red background */
  color: #a94442; /* a dark red text */
}
