// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard {
  display: flex;
  flex-direction: column;

  &-row {
    display: flex;
    flex-direction: row;
  }

  &-item {
    flex: 1;
    margin: 10px;

    table {
      width: 100%;
    }
  }

  .highlighted-row {
    background-color: #f2dede;
    color: #a94442; 
  }
}