.dashboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;

  th, td {
    padding: 10px;
    text-align: center; // Center text
    border: 0;
    box-shadow: 0 0 0 1px black; // border effect with box-shadow
  }

  thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }

  thead tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
  }

  thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }

  thead tr:last-child th:last-child {
    border-bottom-right-radius: 10px;
  }

  tbody tr:first-child td:first-child {
    border-top-left-radius: 10px;
  }

  tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  th {
    background-color: #B71C1C; // Red background color for the header
    color: #fff; // White text color for the header
  }

  tbody tr:nth-child(even) {
    background-color: hsl(0, 0%, 95%); // Gray background color for every other row
  }

  tbody tr:hover {
    background-color: hsl(0, 0%, 87%); // Darker gray background color when hovering over a row
  }

  tbody td {
    // Actions column style, assuming there is an 'actions' class on the Actions column td
    &.actions {
      display: flex;
      justify-content: space-around; // Spread out the action buttons if there are multiple
    }
  }
  .highlighted-row {
    background-color: hsl(0, 43%, 91%);
    color: #a94442; 

    &:nth-child(even) {
      background-color: hsl(0, 43%, 86%);
      color: #a94442;
    }
    &:hover {
      background-color: hsl(0, 43%, 79%);
      color: #a94442;
    }
  
   
  }
  
  .current-time-row {
    background-color: #e8f2de;
    color: #63a942;
  }
}