<!-- Patient is logged in, show appointment and medication options -->
<!-- Wrap appointments and medication options in a div for styling and centering -->
<div class="patient-links">
  <ul class="nav-item">
    <a class="nav-link patient-link" href="<%= new_patient_appointment_path(current_patient) %>">New Appointment</a>
  </ul>
  <ul class="nav-item">
    <a class="nav-link patient-link" href="<%= patient_medications_path(current_patient) %>">Medication</a>
  </ul>
</div>
<ul class="nav-item dropdown">
  <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
    User
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Logout', patients_logout_path, method: :delete, class: "dropdown-item" %></li>
  </ul>
</ul>
