<!-- Doctor is logged in, show appointment and medication options -->
<ul class="nav-item">
  <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
    User
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Logout', doctors_logout_path, method: :delete, class: "dropdown-item" %></li>
  </ul>
</ul>
